@model IEnumerable<R_Student.Entity.ProfileTeacher>

@{
    ViewBag.Title = "TeacherList";
    Layout = "~/Views/Shared/_Layout _User.cshtml";
}

<h2>TeacherList</h2>

<p>@Html.ActionLink("Report", "WebForm3.aspx", "Report")</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FristName)-@Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculty)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            อาจารย์@Html.DisplayFor(modelItem => item.FristName) @Html.DisplayFor(modelItem => item.LastName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Branch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faculty)
        </td>
        <td>
            @if (Session["USER"] != null)
            {
                R_Student.Entity.User user = (R_Student.Entity.User)Session["USER"];
                if (user.Usertype == 1)
                {
                    @Html.ActionLink("Edit | ", "EditTeacher", new { id = item.Teacher_id });
                    @Html.ActionLink("Details | ", "Details", new { id = item.Teacher_id });
                    <a href = "@Url.Action("Delete", new { id = item.Teacher_id }) "
                    onclick = "return confirm('คุณต้องการลบข้อมูลหรือไม่ ?')" >Delete </a>
                }
                else
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Teacher_id });
                }
            }
            
        </td>
    </tr>
}

</table>
