@model R_Student.Entity.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout _User.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="~/@(Model.Image)" width="100" alt="IMAGES">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usertype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usertype)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User_id  }) |
    @Html.ActionLink("Back to List", "UserList")
</p>
