@model IEnumerable<R_Student.Entity.Register_Subjects>

@{
    ViewBag.Title = "Classroom";
    Layout = "~/Views/Shared/_Layout _User.cshtml";
}

<h2>Classroom</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stud_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sub_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stud_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sub_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grad)
        </td>
        <td>
            @Html.ActionLink("เปลี่ยนเกรด", "EditGrad", new { id=item.id }) |
        </td>
    </tr>
}

</table>
